@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:wght@400;500;700&family=Righteous&display=swap");
main {
  width: 100vw;
  height: 100vh;
  background-color: #4100d3;
  background: linear-gradient(#4100d3, #365fe8);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.super-magaiba {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  z-index: 0;
}

.birthday-magaiba {
  position: absolute;
  left: 100px;
  top: 50px;
}

.community-links {
  font-size: 1.3em;
  color: white;
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.community-links > ul {
  list-style: none;
}
.community-links a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.community-links li:hover {
  font-weight: bold;
}

.audio {
  margin-top: 20px;
}

.address {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  color: white;
}
.address > button {
  cursor: pointer;
  padding: 5px;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 25px;
  right: 50px;
  z-index: 1;
}
.links a:hover {
  transform: scale(1.1);
}

.whitepaper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.whitepaper > a {
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "Madimi One", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title > h1 {
  font-size: 10em;
  color: red;
  transform: rotate(-5deg);
}
.title > h2 {
  position: absolute;
  bottom: -50px;
  left: 60px;
  font-size: 5em;
  color: yellow;
  transform: rotate(-5deg);
}
.title .ctas {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: white;
}
.title .ctas div {
  display: flex;
  gap: 20px;
}
.title .ctas button {
  cursor: pointer;
  padding: 10px 20px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video p {
  font-size: 3em;
  margin-top: 20px;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .audio {
    display: none;
  }

  .title {
    top: 250px;
  }
  .title > h1 {
    font-size: 5em;
  }
  .title > h2 {
    font-size: 2.4em;
  }
  .title .ctas {
    bottom: -150px;
  }

  .super-magaiba {
    width: 200px;
  }

  .birthday-magaiba {
    width: 100px;
    top: 100px;
    left: 50px;
  }

  .community-links {
    bottom: 100px;
  }

  .links {
    top: 100px;
  }

  .video {
    display: none;
  }

  .arrow {
    display: none;
  }
}

@media (max-width: 600px) {
  .address {
    font-size: 0.5em;
    flex-direction: column;
  }

  .title {
    left: 46%;
    top: 180px;
    margin-right: -40px;
  }
  .title h1 {
    font-size: 4em;
  }
  .title h2 {
    font-size: 1.2em;
    top: 70px;
    left: 90px;
  }
  .title .ctas {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin-top: 120px;
    margin-left: 10px;
  }

  .links {
    width: fit-content;
    position: absolute;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 45px;
  }

  .community-links {
    max-width: 100px;
    font-size: 0.8em;
    bottom: 50px;
  }

  .birthday-magaiba {
    display: none;
  }
}
